#steps {
	background-color: #f9f9f9;
}

@media all and (max-width: 768px) {
	.animatedArrow-wrapper > img {
		transform: rotate(90deg);
	}
}

#steps-show {
	max-height: 25rem;
	/* overflow-y: scroll; */
	scrollbar-color: var(--green) #5eff5e70;
	scrollbar-width: thin;
}

.animatedArrow-wrapper img {
	mix-blend-mode: multiply;
}

#steps .MuiInputBase-input {
	width: 15rem;
}
