body,
html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

* {
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
}

:root {
	--yellow: #e7c328;
	--green: #28984d;
	--blue: #12327f;
}

.hovered {
	cursor: pointer;
}

a,
a:active,
a:focus,
a:hover {
	color: initial !important;
}
